.p1{
    width:500px;
}
.con1 a{
    text-decoration: none;
    color:black;
    font-size:20px;
}
.con1 a:hover{
    text-decoration: underline;
}
.c{
    margin:30px 0px 30px 0px;
}
.c a{
    color: gray;
    padding: 20px;
}
.c a:hover{
    color:black;
}
